<!-- Joystick Control TAOBOT platform -->
<launch>
  <param name="/use_sim_time" value="false"/>

  <node pkg="taobot_link" name="autoSpeed" type="autoSpeed" output="screen">
	<!--<rosparam file="$(find axon_link)/config/axon_param.yaml" command="load"/> -->        
  </node>

  <node pkg="taobot_link" name="readTaoBotMsg" type="readTaoBotMsg">
 </node>
<node pkg="taobot_link" name="pathToVel" type="pathToVel">
 </node>
  <node pkg="joy" name="joy_node" type="joy_node">
    <param name="joy_node/dev" value="/dev/input/js0"/>
  </node>

  <node pkg="taobot_link" name="joy_ctrl_taobot_node" type="joy_ctrl_taobot_node">
  	<remap from="cmd_vel" to="taobot_cmd_vel"/>
  </node>
</launch>
